$default: #000;


/* Header Elements */

.layout-title {
  height: 100px;
}

.title-logo {
  float: left;
  background: url(https://blink.ucsd.edu/_resources/images/blink-logo-x2.png);
  background-size: 122px;
  background-repeat: no-repeat;
}

.ds-container {

    width: 325px;
    display: block;
    float: right;
    text-align: right;

}

.ds-date p {
    margin: 0;
}

.status-yellow {
    background-color: #e6b540;
    height: 7px;
    width: 7px;
    display: block;
    margin: 10px 2px;
    float: left;
    border-radius: 10px;
}

/* Jumbotron Search */

  .blink-jumbosearch {
    background: url(../img/homepage/scripps-pier-at-sunset.jpg) 0px -150px no-repeat;
    height: auto;
    margin: 0 auto 40px auto;
    text-align: center;
    padding-bottom: 40px !important;

      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 80px auto 30px auto;
        font-family: "Helvetica", sans-serif;
      }

      p {
        color: #FFF;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }


      .btn {
        background: #061e3170;
        color: #FFF;
        text-transform: none;
      }

  }

  #blinksearch {
  	width: 65%;
  	border: 1px solid #FFF;
  	border-radius: 7px;
  	padding: 5px;
  }

  #button-container {
    margin: 40px auto;
  }

  /* News Stlyes */

  .news-headline {
    position: absolute;
    top: 20px;
    left: 24px;
    padding-left: 15px;
    color: #FFF;
    margin: 0;
  }

  .news-feed {

    padding-top: 20px;

    img {
      margin-bottom: 10px;
    }

  }

  .more-news {
    margin-top: 20px
  }

  /* Blink Toolset */

  .blink-toolset {
    background: #eee;
    height: auto;
    margin: 40px auto 0 auto;
    padding: 40px 0!important;

      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 80px auto 30px auto;
        font-family: "Helvetica", sans-serif;
      }

  }

  .toolset-headline {
    font-size: 20px;
    font-weight: normal !important;
    text-transform: none !important;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px !important;

  }

  .toolset-container {
    background: #fff;
    min-height: 420px;
    padding: 15px 25px;

    dd {
      margin-bottom: 15px;
    }

    > .panel-group {

      > .panel {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

          > .panel-heading {
            border: 0;
            padding: 15px 0;

            > .panel-title {
              font-weight: normal;
              text-transform: capitalize;
              text-align: left;

              a {
                margin-left: 10px;
              }

            }

          }

        > .panel-collapse {

          > .panel-body {
            border: 0;
          }

          ul {
            padding-left: 10px;
            list-style-type: none;

            li { padding: 5px 0; }

          }

        }

      }



      &.panel-title h5 {
        color: #182B49;
        font-size: 16px;
      }

    }

  }


  .toolset-panel {
    text-transform: none !important;
    text-align: left;
  }

  .launcher-logo {
    padding: 30px;
  }




  /*Panel Arrows */

  .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: #C69214;
}
.panel-heading .accordion-toggle.collapsed:after {

    content: "\e080";
}

/* End Panel Arrows */



  /**
   * placeholder-loading v0.2.5
   * Author: Zalog (https://www.zalog.ro/)
   * License: MIT
   **/
  .ph-item {
    direction: ltr;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px 15px 15px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px; }
    .ph-item, .ph-item *,
    .ph-item ::after, .ph-item ::before {
      box-sizing: border-box; }
    .ph-item::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: 1;
      width: 500%;
      margin-left: -250%;
      -webkit-animation: phAnimation 2s linear infinite;
              animation: phAnimation 2s linear infinite;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%; }
    .ph-item > * {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      padding-right: 15px;
      padding-left: 15px; }

  .ph-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5px; }
    .ph-row div {
      height: 10px;
      margin-bottom: 7.5px;
      background-color: #ced4da; }
    .ph-row .big,
    .ph-row.big div {
      height: 20px;
      margin-bottom: 15px; }
    .ph-row .empty {
      background-color: rgba(255, 255, 255, 0); }

  .ph-col-2 {
    flex: 0 0 16.66667%; }

  .ph-col-4 {
    flex: 0 0 33.33333%; }

  .ph-col-6 {
    flex: 0 0 50%; }

  .ph-col-8 {
    flex: 0 0 66.66667%; }

  .ph-col-10 {
    flex: 0 0 83.33333%; }

  .ph-col-12 {
    flex: 0 0 100%; }

  .ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    background-color: #ced4da;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden; }
    .ph-avatar::before {
      content: " ";
      display: block;
      padding-top: 100%; }

  .ph-picture {
    width: 100%;
    height: 120px;
    background-color: #ced4da;
    margin-bottom: 15px; }

  @-webkit-keyframes phAnimation {
    0% {
      transform: translate3d(-30%, 0, 0); }
    100% {
      transform: translate3d(30%, 0, 0); } }

  @keyframes phAnimation {
    0% {
      transform: translate3d(-30%, 0, 0); }
    100% {
      transform: translate3d(30%, 0, 0); } }
