/* Jumbotron Search */

  .blink-jumbosearch {
    background: url(../images/homepage/brand-elements-hero.jpg) no-repeat;
    height: auto;
    margin: 0 auto 40px auto;
    text-align: center;
    padding: 70px 0 !important;

      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 80px auto 30px auto;
        font-family: "Helvetica", sans-serif;

          @media (max-width: 1440px) {
            margin-top: 25px;
          }

          @media (max-width: 450px) {
            font-size: 25px;
          }


      }

      p {
        color: #FFF;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }


      .btn {
        background: #FFF;
        color: #333;
        text-transform: none;
        vertical-align: middle;
        margin: 0;
        padding: 8px;
        height: 43px;
        line-height: 0;
        border-left: 1px solid #eee;
        border-radius: 0 7px 7px 0;
        min-width: 50px;
      }


      @media (max-width: 1440px) {
        padding: 50px !important;
        background-position-y: -50px;
        margin-bottom: 0;
      }


      @media (max-width: 550px) {
        background-position-x: -100px;
      }

      @media (max-width: 430px) {
        background-position-x: -170px;
      }


  }

  #blinksearch {
  	width: 65%;
  	border: 0;
  	border-radius: 7px 0 0 7px;
  	padding: 8px;
    vertical-align: middle;
  }

  #button-container {
    margin: 40px auto;
    max-width: 770px;

    @media (max-width: 1440px) {
      margin: 30px auto;
    }

    @media (max-width: 550px) {
      margin-bottom: 0;
    }

  }


  /* News Stlyes */

  .jumbotron-news {
    @media (max-width: 1440px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .news-headline {
    position: absolute;
    top: 20px;
    left: 24px;
    padding-left: 15px;
    color: #FFF;
    margin: 0;
  }

  .news-feed {

    padding-top: 20px;

    img {
      margin-bottom: 10px;
    }

  }

  .more-news {
    margin-top: 20px
  }


  /* Blink Toolset */

  .blink-toolset {
    background: #eee;
    height: auto;
    margin: 40px auto 0 auto;
    padding: 40px 0!important;

      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 80px auto 30px auto;
        font-family: "Helvetica", sans-serif;
      }

  }

  .toolset-headline {
    font-size: 20px;
    font-weight: normal !important;
    text-transform: none !important;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px !important;

  }

  .toolset-container {
    background: #fff;
    /*min-height: 420px;*/
    padding: 15px 25px;

    dd {
      margin-bottom: 15px;
    }

    > .panel-group {

      > .panel {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

          /*Selecting First Panel only  and remove padding*/
          &:first-child{

              .panel-heading {

                padding-top: 0;

              }

            }
          /* all done, carry on... */

          > .panel-heading {
            border: 0;
            padding: 15px 0;



            > .panel-title {
              font-weight: normal;
              text-transform: capitalize;
              text-align: left;

              a {
                margin-left: 10px;
              }

            }

          }

        > .panel-collapse {

          > .panel-body {
            border: 0;
            padding: 0 15px;
          }

          ul {
            padding-left: 10px;
            list-style-type: none;

            li { padding: 5px 0; }

          }

        }

      }



      &.panel-title h5 {
        color: #182B49;
        font-size: 16px;
      }

    }

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

  }


  .toolset-panel {
    text-transform: none !important;
    text-align: left;
  }

  #all-tools > .glyphicon.glyphicon-wrench {
    color: #6b6b6b;
    margin-right: 6px;
  }

  .launcher-logo {
    padding: 30px;
  }




/*Panel Arrows */



.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "closed" panels */
    content: "\e080";

}

.panel-heading .accordion-toggle:after {
    /* symbol for "open" panels */
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    float: left;
    color: #C69214;
}



/* End Panel Arrows */

/* My Blink */


#MyBlink-Button {
    /* background: #c69214; */
    padding: 5px;
    text-align: center;
    width: 145px;
    border: 2px solid #c69214;
    border-radius: 2px;

    a {
      color: #016591;
    }
}

#_myblink_toolbox > a {
    font-size: 12px;
    letter-spacing: .02em;
    color: #8c8c8c;
}

.mb-container > div > ul {
  list-style: none;
  padding: 0;
}

.mb-container > .mb-left > ul {
  list-style: none;
  padding: 0;
}

.mb-container > .mb-left > ul > li::before  {
  content: "\25AA";
  color: #C69214;
  width: 1em;
  margin-left: 00;
  padding-right: 10px;
}

.mb-container > div > ul > li {
    /* border-bottom: 1px solid #eee; */
}

.mb-right  {
  border-top: 1px solid #eee;
  padding-top: 10px
}

.mb-right > ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}


.mb-right > ul > li:first-child, .mb-right > ul > li:nth-child(2n) {
  float: left;
  padding: 5px;
  text-align: left;
  width: auto;
}

.mb-right > ul > li:nth-child(3n) {
  clear: both;
  width: 100%;
}

.mb-right > ul > li > hr {
  margin: 10px 0;
  display: none;
}

.mb-right > ul > li:nth-child(4n), .mb-right > ul > li:nth-child(5n) {
  float: left;
  margin: 0 2% 2% 0;
  padding: 5px;
  text-align: left;
  width: auto;
}

.mb-right > ul > li:nth-child(5n) {
  margin: 0;
}

.mb-right > ul > li:nth-child(5n) > a {
}

.mb-right > ul > li:nth-child(4n) > a:before {
  display: block;
    content: '';
    background-image: url('../images/icons/gear.svg');
    background-size: 15px 15px;
    height: 20px;
    width: 15px;
    float: left;
    background-position-y: 5px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.mb-right > ul > li:nth-child(5n) > a:before {
  display: block;
  content: ' ';
  color: #eee;
  background-image: url('../images/icons/logout.svg');
  background-size: 15px 15px;
  height: 20px;
  width: 15px;
  float: left;
  background-position-y: 5px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
